<!DOCTYPE html>
<html lang="fr">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Make it Myself !{% endblock %}</title>
    {% block stylesheets %}
        <!--  core CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <!-- CSS personnelles globales -->
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/forms.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/message.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>

<nav    {% if block('banner') is not defined %}style="margin-bottom: 15px" {% endif %}>
    <div class="logo">
        <h4>Make it myself</h4>
    </div>
    <ul class="nav-links">
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path( 'blog') }}">Blog</a></li>
        <li><a href="{{ path( 'forum') }}">Forum</a></li>
        <li><a href="{{ path( 'about') }}">A propos</a></li>
        <li><a href="{{ path( 'account') }}">Mon Compte</a></li>
        <li>
                {% if app.user %}
                    <a href="{{ path('account') }}">{{ app.user.firstname }}</a> | <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('register') }}">Inscription</a>
                {% endif %}

        </li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<!--Affichage de la banner modulable-->
{% if block('banner') is defined %}
    <img src="{{ asset('assets/img/post/test_banner2.png') }}" class="banner">
{% endif %}


<!-- chargement dynamique des pages -->
{% block content %}


{% endblock %}

<footer>
    <div class="footer-container">
        <div class="left-col">
            <div class="picture">
                <a class="contact" href="{{  path('about') }}">Contactez moi !</a>
                <img src="{{ asset('assets/img/profil2.jpg') }}" alt="image de profil" class="profil">
            </div>
            <div class="social">
                <a href="https://www.facebook.com/Petites-Luxures-290170661336430/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/marievoirin/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.pinterest.fr/"><i class="fab fa-pinterest-p"></i></a>
                <a href="https://www.ravelry.com/"><i class="fab fa-ravelry"></i></a>
            </div>
            <p class="rights-text"> &copy; 2021 Created by Marie C. All Rights Reserved.</p>
        </div>

        <div class="right-col">
            <!--Widget MailJet-->
            <div class="border"></div>
            <iframe class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/6mf7/I9c" width="100%"></iframe>
        </div>
    </div>

</footer>

{% block javascripts %}
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <!-- Script personnel global -->
    <script src="{{ asset('assets/js/app.js') }}"></script>
    {# <script src="{{ asset('assets/js/post.js') }}"></script> #}
    <script src="{{ asset('assets/js/like.js') }}"></script>
    {# <script src="{{ asset('assets/js/filters.js') }}"></script> #}
    <script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>
{% endblock %}
</body>
</html>