{% extends 'base.html.twig' %}

{% block title %}{{ post.title}}{% endblock %}


{% block stylesheets %}
    {{  parent() }}
{#     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g==" crossorigin="anonymous" />
#}    <link href="{{ asset('assets/css/post.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="container">
        <div>
            <div>
                <div class="post">
                    <img src="{{ post.image }}" class="post-image" alt="{{ post.imgDescription }}">
                    <div class="post-body">

                        <h1 class="post-title"> {{ post.title }} </h1>
                        <div> {{ post.content|raw }} </div>
                        <div class="author"><small> {{ post.user.alias }} </small></div>
                        <div class="date"> {{ post.createdAt | date('d/m/Y') }} </div>
                        <div class="category"> Catégorie : {{ post.category.name }} </div>
                        <div class="post-like">
                            <p>Vous aimez cet Article ?</p>
                            <a href="{{ path('post_like',{'slug':post.slug}) }}" class="js-like" data-tooltip="Vous devez être connecté pour aimer cet article">
                                <!-- si un post est aimé par l'utilisateur connecté il apparait plein -->
                                {% if app.user and post.isLikedByUser(app.user) %}
                                    <i class="fas fa-heart"></i>
                                {% else %}
                                    <i class="far fa-heart"></i>
                                {% endif %}
                                <span class="js-likes single">{{ post.likes | length }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- List of comments -->
        <hr>
        {% for message in app.flashes('success') %}
            <div class="alert message-success">{{ message }}</div>
        {% endfor %}
        {% if post.comments|length == 0 %}
            <p>Soyez le premier à commenter cet article !</p>
        {% else %}
            {%  for comment in post.comments %}
                {% if comment.parent == null %}
                    <div class="commentContainer">
                        <div><strong>Commentaire de {{ comment.user.alias }} </strong></div>
                        <div class="date"> <small>le {{ comment.createdAt|date('d/m/Y') }} à {{ comment.createdAt|date('H:i', 'Europe/Paris') }}</small> </div>
                        <div class="commentContent"> {{ comment.content }} </div>
                        <!-- création du lien de réponse au commentaire -->
                        <div class="response">
                        <p><a href="#add-comment" {% if app.user %} data-reply data-id="{{ comment.id }}" {% else %} data-tooltip="Vous devez être connecté pour aimer cet article" class="tooltip" {% endif %}><small>Répondre</small></a></p>
                        </div>
                        {# on affiche les réponses #}
                        {% for reply in comment.replies %}
                            <div class="commentResponse">
                                <div><strong><small>Réponse publiée par: </small>{{ reply.user.alias }} </strong></div>
                                <div class="date"> <small>le {{ reply.createdAt|date('d/m/Y') }} à {{ reply.createdAt|date('H:i', 'Europe/Paris') }}</small> </div>
                                <div class="commentContent"> {{ reply.content }} </div>
                            </div>
                        {% endfor %}
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
        {%  endif %}

        {% if is_granted('ROLE_USER') %}
            <div class="comment" id="add-comment">
                <div class="comment-body">
                    {{ form_start(form, {'attr':{'id':'comment-form'}}) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="button" value="Envoyer mon commentaire">
                    {{ form_end(form) }}
                </div>
            </div>
        {% else %}
            <p><a href="{{ path('app_login') }}">Connectez-vous</a> pour ajouter un commentaire.</p>
        {% endif %}
    </div>
    </div>
{% endblock %}
{% block javascripts %}

{{ parent() }}
    <script>
        window.onload = () => {
            //on met un écouteur d'évènements sur tous les boutons répondre
            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener('click', function(){
                    //je récupère l'id du commentaire parent
                    document.querySelector("#comment_parentid").value = this.dataset.id;
                });
            });
        }
    </script>
    {#
<!-- Script personnel pour la parge Article -->
<script src="{{ asset('assets/js/post.js') }}"></script>#}

{% endblock %}
